$white: #ffff;
$black: #000000;
$gray-main: #e6e6e6;
$gray-light: #d3d3d3;
$gray-sidebar-footer: #666666;
$gray-dark: #545454;


$breakepoints: (
    "tab": "screen and (min-width: 391px)",
    "ipad": "screen and (min-width: 768px)",
    "pc-mini": "screen and (min-width: 1000px)",
    "pc": "screen and (min-width: 1200px)",
    "pc-wide": "screen and (min-width: 1500px)"
);