$primary : #64629D;
$fontcolor : #2D2D32;
$background-color : #2D2D32;
$subtitlecolor : #9F9EC1;
$white : #FFFFFF;
$main-visual : #EDECFC;
$background-color-gray : #F9F9F9;
$background-color-footer : #000000;
$triangle-gray: #C4C4C4;

$breakpoints: (
	"sp": "screen and (max-width: 390px)"

);