@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.l-footer {
    height: 140px;
    background-color: var.$background-footer;
    color: var.$white;

    @include mixin.mq('tab') {
        height: 360px;
        padding: 40px 0;
        
    }
}