@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.l-header {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var.$gray-main;
    z-index: 50;
    box-shadow: 0 3px 6px -2px rgb(0 0 0 / 10%);
}