@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.p-feature {
    padding: 100px 0;
    
    @include mixin.mq('sp') {
        margin: 0;
    }
}

.p-feature__main {
    display: flex;
    position: relative;

    
}

.p-feature__title {
    margin-bottom: 30px;
    font-size: 48px;
    letter-spacing: 5%;
    text-align: center;
    font-weight: 700;

    @include mixin.mq('sp') {
		font-size: 30px;
	}
    
    &::before {
        content: "Featuer";
        color: var.$subtitlecolor;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        display: block;

        @include mixin.mq('sp') {
            font-size: 22px;margin-bottom: 12px;

        }
    
    }


}

.p-feature__main01 {
    margin-bottom: 100px;

    @include mixin.mq('sp') {
        flex-direction: column-reverse;
        margin-bottom: 60px;
    }
}

.p-feature__content01 {
    padding: 65px 124px 65px 148px;
    background-color: var.$white;
    border-radius: 30px;
    height: 366px;
    width: 65%;
    position: relative;

    @include mixin.mq('sp') {
        padding: 0;
        width: 100%;
        height: 293px;
        padding: 100px 20px 40px;
        margin-top: -110px;
    }

    &:before {
        content: "01";
        color: var.$primary;
        font-weight: 700;
        font-size: 72px;
        position: absolute;
        left: 3%;
        margin-right: 15px;

        @include mixin.mq('sp') {
            font-size: 42px;
            top: 49px;
            left: 20px;
            height: 53px;
            
        }
    }
}

.p-feature__img01 {
    width: 35%;
    margin-left: -7%;
    z-index: 5;

    @include mixin.mq('sp') {
        width: 100%;
        margin-left: 0;
    }

    img {
        height: auto;
        width: 100%;
      
    }
}

.p-feature__content02 {
    padding: 65px 124px 65px 148px;
    background-color: var.$white;
    border-radius: 30px;
    // height: 366px;
    width: 65%;
    margin-bottom: auto;
    margin-left: -5%;
    position: relative;

    @include mixin.mq('sp') {
        padding: 0;
        width: 100%;
        // height: 293px;
        padding: 100px 20px 40px;
        margin-top: -110px;
        margin-left: 0;
    }
    
    &:before {
        content: "02";
        color: var.$primary;
        font-weight: 700;
        font-size: 72px;
        position: absolute;
        left: 3%;
        margin-right: 15px;

        @include mixin.mq('sp') {
            font-size: 42px;
            top: 49px;
            left: 20px;
            height: 53px;
            
        }
    }
}

.p-feature__img02 {
    width: 50%;
    margin-top: 25px;
    z-index: 5;

    @include mixin.mq('sp') {
        width: 100%;
    }

    img {
        height: auto;
        width: 100%;

    }
}

.p-feature__main03 {
    margin-top: -10%;
    margin-bottom: 100px;

    @include mixin.mq('sp') {
        flex-direction: column-reverse;
        margin-bottom: 60px;
        margin-top: 0;
    }
}

.p-feature__content03 {
    padding: 65px 124px 65px 148px;
    background-color: var.$white;
    border-radius: 30px;
    height: 366px;
    width: 65%;
    margin-top: auto;
    position: relative;


    @include mixin.mq('sp') {
        padding: 0;
        width: 100%;
        padding: 100px 20px 40px;
        margin-top: -110px;
    }

    
    &:before {
        content: "03";
        color: var.$primary;
        font-weight: 700;
        font-size: 72px;
        position: absolute;
        left: 3%;
        margin-right: 15px;

        @include mixin.mq('sp') {
            font-size: 42px;
            top: 49px;
            left: 20px;
            height: 53px;
        }
    }
}

.p-feature__img03 {
    width: 44%;
    margin-left: -7%;
    margin-bottom: 0.7%;
    z-index: 5;

    @include mixin.mq('sp') {
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
    }
    
    img {
        height: auto;
        width: 100%;
        
    }
}

.p-feature__caption {
    font-family: 'Noto Sans JP';
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    white-space: nowrap;

    @include mixin.mq('sp') {
        font-size: 22px;
        line-height: 31px;
        margin-bottom: 8px;
    }
}

.p-feature__caption-text {

    @include mixin.mq('sp') {
        font-size: 14px;
    }

    br {
        @include mixin.mq('sp') {
            display: none;
            
        }
    }
}

.p-feature__rowreverse {
    flex-direction: row-reverse;

    @include mixin.mq('sp') {
        flex-direction: column-reverse;
        margin-bottom: 60px;
    }
}
