@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.p-footer-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mixin.mq('tab-split-max') {
        flex-direction: column-reverse;
        text-align: center;
        
    }
}

.p-footer-contents__left {
    margin: 25px 0;
    
}

.p-footer-contents__right {
    
}

.p-footer-contents__logo {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 19px;
    line-height: 24px;

    @include mixin.mq('tab-split-max') {
        margin-bottom: 18px;
    }


}

.p-footer-contents__list {
    display: flex;
    list-style: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 19px;

    @include mixin.mq('tab-split-max') {
        display: block;
        margin-bottom: 28px;
    }

    li {
        
        &:nth-child(n + 2) {
            margin-left: 15px;
    
        }

        &:not(:last-child) {
            margin-bottom: 14px;
        }
    }

}

.p-footer-contents__copyright {
    display: flex;

    @include mixin.mq('tab-split-max') {
        display: block;
    }

    p {
        font-size: 10px;
        line-height: 10px;

    }
}

.p-footer-contents__sns {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    
}

.p-footer-contents__sns-logo {
    
    a {
        &:nth-child(n + 2) {
            margin-left: 18px;
        }

    }
}

.div {
    background-color: white;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: inline-block;
    position: relative;

}

.twitter {
    &:before {
        content: "\f099"; /* 追記したコード */
        font-family: "Font Awesome 6 Brands";
        font-weight: 900; /* 追記したコード */
        display: inline-block;
        color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
    }
}

.insta {
    &::before {
        content: "\f16d";
        font-family: "Font Awesome 6 Brands";
        font-weight: 900; /* 追記したコード */
        display: inline-block;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
    

    }
}

.div__insta {
    height: 24px;
    width: 24px;
    display: inline-block;
    position: relative;

}

.div__facebook {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: inline-block;
    position: relative;

}

.facebook {
    &:before {
        content: "\f09a";
        font-family: "Font Awesome 6 Brands";
        font-weight: 900;
        display: inline-block;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
    
    }
}