@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.p-headermenu {
    margin-left: auto;
    display: flex;
    align-items: center;

    @include mixin.mq('sp') {
		display: none;

	}

    @include mixin.mq('tab') {
        display: none;
    }
}

.p-headermenu.active {
    display: block;
    margin-left: 0;
    z-index: 10;
   
   
   

    .p-headermenu__list {
        display: block;
        background-color: var.$main-visual;
        position: absolute;
        top: 52px;
        left: 0;
        width: 100%;
        // position: fixed;
        height: 100vh;
        padding: 0 10%;
        // margin: 0 5%;

        @include mixin.mq('tab') {
            padding-top: 82px;
    
        }
        
        

        li {
            font-size: 24px;
            margin-left: 18%;
            position: relative;
            

            &::before {
                content: "";
                width: 20px;
                height: 20px;
                
                transform: rotate(45deg);
                border: 1px solid;
                position: absolute;
                top: 0;
                left: -32px;
                bottom: 0;
                margin: auto;
            }
        }

    }
    
}

.p-headermenu__list {
    display: flex;
    list-style: none;
    align-items: center;
}

.p-headermenu__item {
    font-weight: 700;
    width: auto;

    a {
        text-decoration: none;
        color: var.$fontcolor;
    }

    &:nth-child( n+2 ) {
        margin-left: 16px;
    }

    @include mixin.mq('tab') {
		&:not(:last-child) {
            margin-bottom: 40px;
        }

	}
}


/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn4{
    position: relative;/*ボタン内側の基点となるためrelativeを指定*/
    cursor: pointer;
      width: 21px;
      height:32px;

      @include mixin.mq('pc') {
		display: none;

	}
  }
  
  /*ボタン内側*/
  .openbtn4 span{
      display: inline-block;
      transition: all .4s;/*アニメーションの設定*/
      position: absolute;
      height: 3px;
      border-radius: 5px;
    background: blue;
      width: 21px;
    }
  
  .openbtn4 span:nth-of-type(1) {
    top: 12px;
  }
  
  .openbtn4 span:nth-of-type(2) {
    top:21px;
    width: 13px;
    right: 0;
    position: absolute;
    
  }
  
  .openbtn4 span:nth-of-type(3) {
    top:29px;
  }
  
  .openbtn4 span:nth-of-type(1)::before {
    content:"Menu";/*3つ目の要素のafterにMenu表示を指定*/
    position: absolute;
    top:-15px;
    left:-2px;
    display: block;
    color: blue;
    font-size: 6px;
    text-transform: uppercase;
    text-align: center;

  }

  .openbtn4.active span:nth-of-type(1)::before {
    display: none;
  }

  .openbtn4.active span:nth-of-type(1) {
    top: 8px;
    left: 5px;
    transform: translateY(6px) rotate(-45deg);
    width: 21px;
}

.openbtn4.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn4.active span:nth-of-type(3){
    top: 20px;
    left: 5px;
    transform: translateY(-6px) rotate(45deg);
    width: 21px;
}

// .p-hamburgerbtn {
//     @include mixin.mq('pc') {
// 		display: none;

// 	}
// }

// body.active {
//     position: fixed;
// }