@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.p-post {
    display: inline-block;
    width: calc(100% / 2.1);

    &:nth-child(2n) {
        margin-left: 4%;
    }

    &:nth-child(n + 3) {
        margin-top: 10px;
    }

    @include mixin.mq('tab') {
        width: 30%;

        &:nth-child(2n) {
            margin-left: 0;
        }

        &:not(:nth-child(3n+1)){
            margin-left: 5%;
        }


        &:nth-child( n + 3) {
            margin-top: 0px;
        }

        &:nth-child( n + 4) {
            margin-top: 30px;
        }
    }

    @include mixin.mq('pc-wide') {
        width: 25%;

        &:not(:nth-child(3n+1)){
            margin-left: 12%;
        }

    }


}

.p-works__post-name {
    padding: 10px 10px;
}

.p-post__thumbnail {
    background-color: var.$white;
    padding: 10px;
}

.p-post__img {
    width: 100%;

    img {
        width: 100%;
        height: auto;
    }
}