@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.p-price {
    padding: 100px 0;

    @include mixin.mq('tab') {
        padding: 60px 0;
    }
}

.p-price__title {
    margin-bottom: 84px;
    font-size: 48px;
    letter-spacing: 5%;
    text-align: center;
    font-weight: 700;

    @include mixin.mq('tab') {
        font-size: 30px;
    }

    &::before {
        content: "Price";
        color: var.$subtitlecolor;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        display: block;

        @include mixin.mq('tab') {
            font-size: 22px;
        }
    
    }
}

.block {
    display: block;
}