@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.p-question {
    padding: 100px 0;
    background-color: var.$background-gray;

    @include mixin.mq('tab') {
		padding: 60px 0;
	}
}

.p-question__inner {
    margin: 0 18%;

    @include mixin.mq('tab') {
		margin: 0 5%;
	}
}


.p-question__title {
    margin-bottom: 84px;
    font-size: 48px;
    letter-spacing: 5%;
    text-align: center;
    font-weight: 700;

    @include mixin.mq('tab') {
        font-size: 30px;
        margin-bottom: 40px;
    }

    &::before {
        content: "Question";
        color: var.$subtitlecolor;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        display: block;

        @include mixin.mq('tab') {
            font-size: 22px;
        }
    
    }
}

.p-question__questions {
   width: 100%;

}

.p-question__question {
    
    &:not(:last-child) {
        margin-bottom: 24px;
    }
}

.p-question__query {
    display: flex;
    background-color: var.$primary ;
    border-radius: 10px;
    align-items: center;
    color: var.$white ;
    margin-bottom: 14px;

    @include mixin.mq('tab') {
        position: relative;
    }
   
}

.p-question__question-text {
   
    @include mixin.mq('tab') {
        font-size: 16px;
        line-height: 25.6px;
        padding: 10px 10px 8px 47px;
    }

}

.p-question__q {
    padding: 20px 15px 20px 24px;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    font-family: "Noto Sans JP";

    @include mixin.mq('tab') {
        position: absolute;
        top: 10px;
        left: 15px;
        padding: 0;

    }

}

.p-question__answer {
    display: flex;
    background-color: var.$white ;
    border-radius: 10px;
    align-items: center;
    padding-left: 56px;
    padding-right: 25px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    font-family: Noto Sans JP;
    position: relative;

    @include mixin.mq('tab') {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    
}

.p-question__a {
    position: absolute;
    top: 25px;
    left: 25px;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;

    @include mixin.mq('tab') {
        top: 12px;
        left: 15px;
    }
}

.p-question__answer-text {

    @include mixin.mq('tab') {
        font-size: 16px;
    }
}