@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.p-recommend {
    background-color: var.$background-color;
    text-align: center;
    padding: 60px 0;

    @include mixin.mq('tab') {
        padding: 40px 0;
    }
}

.p-recommend__text {
    color: var.$white;
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: 700;

    @include mixin.mq('tab') {
        font-size: 18px;
        margin-bottom: 24px;
    }
}