@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.p-skill {
    padding: 50px 0;
    background-color: #f8f4e6;
    
}

.p-skill__inner {
    margin: 0 10%;

    @include mixin.mq('tab') {
        margin: 0 20%;

    }
}

.p-skill__title {

    &::after {
        content: "できること";
        display: block;
        font-size: 16px;
    }
}

.p-skill__icon {
    margin-bottom: 30px;

    @include mixin.mq('pc-mini') {
        width: 50%;
        margin-bottom: 0;
        margin-right: 30px;

    }

    img {
        height: 10vh;
    }
}

.p-skill__contents {
    display: block;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 10px;
    padding: 32px;
    border: solid 2px black;

    @include mixin.mq('pc-mini') {
        display: flex;
        padding: 50px;

    }
}

.p-skill__lead {
    color: var.$gray-dark;
    font-weight: 800;


    @include mixin.mq('pc-mini') {
        text-align: center;

    }
}

.p-skill__detail {
    text-align: start;
    color: var.$gray-dark;
}

.p-skill__explanation {
    text-align: start;
    letter-spacing: 2px;
    
}
