@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.p-works {
    padding: 5vh 0;
    background-color: var.$gray-main;
    height: inherit;

}

.p-works__inner {
    margin: 0 5%;

    @include mixin.mq('ipad') {
        margin: 0 20%;

    }

    @include mixin.mq('pc-wide') {
        margin: 0 20%;

    }
}

.p-works__title {
    padding-bottom: 50px;
}
