@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.c-about-btn {
    @include mixin.primarybtn($btn-padding: 23px 56px, $btn-color:var.$white);
   display: inline-block;
   font-weight: 700;
   font-size: 24px;
   border-radius: 50px;

   @include mixin.mq('sp') {
    font-size: 18px;
    line-height: 18px;
    width: 85%;
    padding: 18px 38px 22px 38px;

    
}

}