@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.c-button {
        @include mixin.primarybtn($btn-padding: 12px 26px, $btn-color:var.$white);
       display: inline-block;
       font-weight: 700;
       border-radius: 25px;
       font-size: 18px;

       @include mixin.mq('tab') {
		font-size: 15px;
              width: 85%;

	}
}

.c-button__sub {
    @include mixin.primarybtn($btn-padding: 12px 26px, $btn-background:var.$white, $btn-color:var.$primary);
       display: inline-block;
       border: 2px solid var.$primary;
       font-weight: 700;
       margin-left: 37px;
       font-size: 18px;

       @include mixin.mq('tab') {
		margin-left: 15px;
              font-size: 15px;
              margin-left: 0;
              width: 85%;

	}
}

.c-button__white {
       @include mixin.primarybtn($btn-padding: 12px 26px, $btn-background:var.$white, $btn-color:var.$background-color);
       
       display: inline-block;
       border: 2px solid var.$background-color;
       font-weight: 700;
       border-radius: 25px;
}

.c-button__primary {
       @include mixin.primarybtn($btn-padding: 12px 26px, $btn-color:var.$white);
       
       display: inline-block;
       font-weight: 700;
       border-radius: 25px;
       border: solid 2px var.$white;
}