@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.c-pagenation {
    text-align: center;
}

.c-pagenation__btn {
  border: 2px solid var.$gray-dark;
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
}
.c-pagenation__previous-btn {

}