@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.c-section-title {
    text-align: center;
    margin-bottom: 50px;
    color: var.$gray-sidebar-footer;
    font-weight: 700;
    
}

.c-section-title__text {
    color: var.$gray-dark;
    font-size: 30px;
    
    @include mixin.mq('pc') {
        font-size: 40px;
        
    }
}