@use "./global/variables" as var;
@use "./global/mixin" as mixin;

  .c-triangle {
    position: relative;

        &::after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-top: 30px solid transparent;
            border-bottom: 30px solid transparent;
            border-left: 20px solid var.$triangle-gray;
            border-right: 0;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            left: 125%;

            @include mixin.mq('sp') {
              display: none;
          }
        }    
  }